name: docs

on:
  push:
    branches:
      -  main

env:
  RUST_BACKTRACE: 1
  RUSTDOCFLAGS: --enable-index-page -Zunstable-options

jobs:
  docs:
    name: docs
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal

      - name: Create rustdoc
        run: cargo +nightly doc --verbose --no-deps --lib --bins --workspace --document-private-items

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: target/x86_64-apple-darwin/doc
          clean: true
          git-config-email: info@ekgf.org
          repository-name: EKGF/rdf-store-rs
          commit-message: "Update"
          single-commit: true
